replicaCount: 1

image:
  repository: nginx
  tag: "latest"
  pullPolicy: IfNotPresent

env: prod
appname: app

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  host: localhost
  entryPoints:
    - web

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

containerPort: 80
